flask
flask-cors
flask-sqlalchemy
flask-bcrypt
flask_session
flask-migrate
langchain-core==0.0.12
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.69
langchain
accelerate
transformers
pinecone-client==2.2.4
openai
tiktoken
sentence_transformers
pypdf
chainlit==0.7.700
lingua-language-detector
python-iso639
faiss-cpu
deep_translator
python-dotenv
torch
unstructured[pdf]
unstructured[docx]
unstructured[pdf]
faster-whisper
spacy
pymupdf
gtts
